extends dashboard_layout

block content
      .container-fluid.px-4
        h1.mt-4 Dashboard
        ol.breadcrumb.mb-4
          li.breadcrumb-item.active Employees Details
        .row
          .col-xl-3.col-md-6
            .card.bg-primary.text-white.mb-4
              .card-body
                h5 Total Employees - #{dashboardInfo.employeeCount}
              .card-footer.d-flex.align-items-center.justify-content-between
                a.small.text-white.stretched-link(href='/employee_master') View Details
                .small.text-white
                  i.fas.fa-angle-right
          .col-xl-3.col-md-6
            .card.bg-success.text-white.mb-4
              .card-body
                h5 Active Employees - #{dashboardInfo.activeEmployeeCount}
              .card-footer.d-flex.align-items-center.justify-content-between
                a.small.text-white.stretched-link(href='/employee_master') View Details
                .small.text-white
                  i.fas.fa-angle-right
          .col-xl-3.col-md-6
            .card.bg-warning.text-white.mb-4
              .card-body
                h5 Inactive Employees -#{dashboardInfo.inActiveEmployeeCount}
              .card-footer.d-flex.align-items-center.justify-content-between
                a.small.text-white.stretched-link(href='/employee_master') View Details
                .small.text-white
                  i.fas.fa-angle-right
      .container-fluid.px-4
        ol.breadcrumb.mb-4
          li.breadcrumb-item.active Asset Details
        .row
          .col-xl-3.col-md-6
            .card.bg-primary.text-white.mb-4
              .card-body
                h5 Total Asset - #{dashboardInfo.totalAsset}
              .card-footer.d-flex.align-items-center.justify-content-between
                a.small.text-white.stretched-link(href='/asset_master') View Details
                .small.text-white
                  i.fas.fa-angle-right
          .col-xl-3.col-md-6
            .card.bg-success.text-white.mb-4
              .card-body
                h5 Branch Total - #{dashboardInfo.assetsInBranch}
              .card-footer.d-flex.align-items-center.justify-content-between
                a.small.text-white.stretched-link(href='/asset_master') View Details
                .small.text-white
                  i.fas.fa-angle-right
          .col-xl-3.col-md-6
            .card.bg-warning.text-white.mb-4
              .card-body
                h5 Warehouse Total - #{dashboardInfo.assetsInWereHouse}
              .card-footer.d-flex.align-items-center.justify-content-between
                a.small.text-white.stretched-link(href='/asset_master') View Details
                .small.text-white
                  i.fas.fa-angle-right
