extends layout

block content
  .container.mt-4
    h1.text-center Edit Asset

    form(action=`/asset/${asset.id}/edit`, method='POST')
      .mb-3
        label(for='serialNumber', class='form-label') Serial Number:
        input.form-control(type='text', name='serialNumber', value=asset.serialNumber)

      .mb-3
        label(for='make', class='form-label') Make:
        input.form-control(type='text', name='make', value=asset.make)

      .mb-3
        label(for='model', class='form-label') Model:
        input.form-control(type='text', name='model', value=asset.model)

      .mb-3
        label(for='purchaseDate', class='form-label') Purchase Date:
        input.form-control(type='date', name='purchaseDate', value=asset.issueDate)

      .mb-3
        label(for='assetCategoryId', class='form-label') Asset Category:
        select.form-select(name='assetCategoryId')
          each assetCategory in assetCategories
            option(value=assetCategory.id, selected=assetCategory.id===asset.assetCategoryId)= assetCategory.name

      button.btn.btn-primary(type='submit') Save Changes
