extends layout

block content
    .container.mt-5
        h1 Edit Employee - #{user.username}

        form(action=`/employee/${user.id}/edit`, method='POST')
            .mb-3
                label(for='username', class='form-label') Username:
                input(type='text', name='username', value=user.username, class='form-control', required=true)

            .mb-3
                label(for='email', class='form-label') Email:
                input(type='email', name='email', value=user.email, class='form-control', required=true)

            .mb-3
                label(for='activityStatus', class='form-label') Activity Status:
                input(type='text', name='activityStatus', value=user.activityStatus, class='form-control', required=true)


            .mt-3
                button.btn.btn-primary(type='submit') Save
