extends dashboard_layout

block content
  .container.mt-5
    h1.text-center.mt-3 Employee Master
    a.btn.btn-success(href='#addEmployeeModal', data-bs-toggle='modal').my-3 Add Employee
    table#employeeTable.table.table-bordered.table-hover.mt-3.mx-auto
      thead
        tr
          th User ID
          th Name
          th Email
          th Activity Status
          th Action

      tbody
        each user in users
          tr
            td= user.id
            td= user.username
            td= user.email
            td= user.activityStatus
            td
              button.btn.btn-primary(data-bs-toggle='modal', data-bs-target=`#editEmployeeModal-${user.id}`) Edit

  .modal.fade#addEmployeeModal(tabindex='-1', role='dialog', aria-labelledby='addEmployeeModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#addEmployeeModalLabel.modal-title Add Employee

        .modal-body
          form(action='/employee/add', method='POST')
            .mb-3
                label(for='username', class='form-label') Username:
                input(type='text', name='username', class='form-control', required=true)

            .mb-3
                label(for='email', class='form-label') Email:
                input(type='email', name='email', class='form-control', required=true)

            .mb-3
                label(for='activityStatus', class='form-label') Activity Status:
                select(name='activityStatus', class='form-select', required=true)
                    option(value='active') Active
                    option(value='inactive') Inactive

            .mt-3
                button.btn.btn-primary(type='submit') Add Employee

        .modal-footer
          button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Close

  .modal.fade#addEmployeeModal(tabindex='-1', role='dialog', aria-labelledby='addEmployeeModalLabel', aria-hidden='true')

  each user in users
    .modal.fade(id=`editEmployeeModal-${user.id}`, tabindex='-1', role='dialog', aria-labelledby=`editEmployeeModalLabel-${user.id}`, aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#editEmployeeModalLabel.modal-title Edit Employee - #{user.username}
          .modal-body
            form(action=`/employee/${user.id}/edit`, method='POST')
              .mb-3
                label(for=`editUsername-${user.id}`, class='form-label') Username:
                input(type='text', name='username', id=`editUsername-${user.id}`, value=user.username, class='form-control', required=true)

              .mb-3
                label(for=`editEmail-${user.id}`, class='form-label') Email:
                input(type='email', name='email', id=`editEmail-${user.id}`, value=user.email, class='form-control', required=true)

              .mb-3
                label(for=`editActivityStatus-${user.id}`, class='form-label') Activity Status:
                select(name='activityStatus', id=`editActivityStatus-${user.id}`, class='form-select', required=true)
                  option(value='active', selected=user.activityStatus==='active') Active
                  option(value='inactive', selected=user.activityStatus==='inactive') Inactive

              .mt-3
                button.btn.btn-primary(type='submit') Save

          .modal-footer
            button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Close




  script(src='https://code.jquery.com/jquery-3.6.0.min.js')
  script(src='https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js')
  link(rel='stylesheet', href='https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap5.min.css') 
  script(src='https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap5.min.js') 
  script.
    $(document).ready(function() {
      var table = $('#employeeTable').DataTable({
        paging: true,
        ordering: false,
        searching: true,
      });

      var select = $('<select class="form-select my-3"><option value="">All</option><option value="active">Active</option><option value="inactive">Inactive</option></select>')
        .appendTo($('#employeeTable_filter'))
        .on('change', function () {
          var value = $(this).val();

          $.fn.dataTable.ext.search.push(
            function(settings, data, dataIndex) {
              var status = data[3]; 

              if (value === "" || status === value) {
                return true;
              }

              return false;
            }
          );

          table.draw();

          $.fn.dataTable.ext.search.pop();
        });

      //- $('#employeeTable_paginate').addClass('pagination').children().addClass('page-item').children().addClass('page-link');
      //- $('#employeeTable_previous').addClass('page-item').children().addClass('page-link');
      //- $('#employeeTable_next').addClass('page-item').children().addClass('page-link');

    });
