extends layout

block content
    .container.mt-5
        h1.text-center Employee Master Dashboard

        table#employeeTable.table.table-bordered.table-hover.mt-3.mx-auto
            thead
                tr
                    th User ID
                    th Name
                    th Email
                    th Activity Status
                    th Action

            tbody
                each user in users
                    tr
                        td= user.id
                        td= user.username
                        td= user.email
                        td= user.activityStatus
                        td
                            a.btn.btn-primary(href=`/employee/${user.id}/edit`) Edit

        a.btn.btn-success(href='/employee/add') Add

        script(src='https://code.jquery.com/jquery-3.6.0.min.js')
        script(src='https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js')
        script.
            $(document).ready(function() {
                var table = $('#employeeTable').DataTable();

                var select = $('<select class="form-select"><option value="">All</option><option value="active">Active</option><option value="inactive">Inactive</option></select>')
                    .appendTo($('#employeeTable_filter'))
                    .on('change', function () {
                        var value = $(this).val();

                        $.fn.dataTable.ext.search.push(
                            function(settings, data, dataIndex) {
                                var status = data[3]; 

                                if (value === "" || status === value) {
                                    return true;
                                }

                                return false;
                            }
                        );

                        table.draw();

                        $.fn.dataTable.ext.search.pop();
                    });

                $('#employeeTable_paginate').addClass('d-flex justify-content-end');
                $('#employeeTable_previous').addClass('btn btn-primary');
                $('#employeeTable_next').addClass('btn btn-primary');
            });
